<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Arrays in Thymeleaf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src =https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script>
    <!--time picker-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <!--Researching Form -->
        <div class="col-md-3 column">
            <div class="main-title">
                <ul class="tab-nav">
                    <li class="current" name="basic"><a href="#"></a>行列号选择</li>
                    <li name="content"><a href="#">经纬度选择</a></li>
                    <li name="user"><a href="#">矢量文件选择</a></li>
                </ul>
                <div class="tab-content">
                    <form action="/test" method="post">
                        <div class="vis-selector">
                            <label>选择数据集</label>
                            <select name="sensorCode">
                                <option>Landsat</option>
                                <option>MODIS</option>
                                <option>Sentinel</option>
                            </select>
                        </div>
                        <div class="vis-selector">
                            <label>选择数据产品</label>
                            <select name="productCode">
                                <option>sr</option>
                                <option>ndvi</option>
                                <option>nwvi</option>
                            </select>
                        </div>
                        <div>
                            <label>path</label>
                            <input type="text" name="path"  />
                        </div>
                        <div>
                            <label for="page">row</label>
                            <input type="text" name="row" />
                        </div>
                        <div>
                            <label for="daterange">date</label><input type="text" id = "daterange" value="01/01/2018 - 01/15/2018" name="date"/>
                        </div>
                        <div>
                            <label>Tier</label>
                            <select name="tier">
                                <option>Tier-1</option>
                                <option>Tier-2</option>
                                <option>Tier-3</option>
                            </select>
                        </div>
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                    </form>
                </div>
                <div class="tab-content" style="display:none">
                    TAB2内容
                </div>
                <div class="tab-content" style="display:none">
                    TAB3内容
                </div>
            </div>
        </div>
        <!--Result Table-->
        <div class="col-md-9 column">
            <table class="table">
                    <thead>
                    <tr>
                        <th>dataGranuleId</th>
                        <th>sensorCode</th>
                        <th>productCode</th>
                        <th>tileCode</th>
                        <th>sceneDate</th>
                        <th>formatCode</th>
                        <th>dataSource</th>
                        <th colspan="2">options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dataGranule : ${dataGranules}">
                        <td th:text="${{dataGranule.getDataGranuleId()}}">1</td>
                        <td th:text="${{dataGranule.getSensorCode()}}">http://thegame.org</td>
                        <td th:text="${{dataGranule.getProductCode()}}">PENDING</td>
                        <td th:text="${{dataGranule.tileCode}}">PENDING</td>
                        <td th:text="${{dataGranule.getSceneDate()}}">PENDING</td>
                        <td th:text="${{dataGranule.getFormatCode()}}">PENDING</td>
                        <td th:text="${{dataGranule.getDataSource()}}">PENDING</td>
                        <td><a th:href="@{/data/getAll/(page=${dataGranules.getTotalPages()})}">Detail</a></td>
                        <td><a th:href="@{/data/getAll/(page=${dataGranules.getTotalPages()})}">Order</a></td>
                    </tr>
                    </tbody>
            </table>

            <ul id="page" class="pagination pull-right">
                <div class = "aad"> 当前第<span th:text="${dataGranules.pageable.pageNumber + 1} "></span>页.每页条数：<span th:text="${dataGranules.getSize()}"></span>
                    一共 <span th:text="${dataGranules.getTotalElements()}"></span> 条记录</div>
                <li >
                    <a th:href="@{'/data/getAll?page=' + ${1}}" >首页</a>
                </li>
                <!--上一页-->

                <th:block th:switch="${dataGranules.hasPrevious()}">
                    <li th:case="true">
                        <a   th:href= "@{'/data/getAll?page='+${page - 1}}" >
                            <i class="fa fa-angle-left"></i>&nbsp;上一页
                        </a>
                    </li>
                    <li th:case="false" class="disabled">
                        <a>
                            <i class="fa fa-angle-left"></i>&nbsp;上一页
                        </a>
                    </li>
                </th:block>

                <!--&lt;!&ndash;循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接&ndash;&gt;-->
                <!--<th:block th:each="nav : ${pageNumbers}" >-->
                <!--<li  th:class="${nav==dataGranules.getPageable().pageNumber}?'active':''" >-->
                <!--<a th:href="@{'/data/getAll?page='+${nav}}"-->
                <!--th:text="${nav}"></a></li>-->
                <!--</th:block>-->

                <!--一共显示五个分页
                如果page在第三页以内，

                -->
                <li th:if="${page - 2 >=1}" ><a th:href="@{'/data/getAll?page=' + ${page - 2}}" th:text="${page -2}" >1</a></li>
                <li th:if="${page - 1 >=1}" ><a th:href="@{'/data/getAll?page=' + ${page - 1}}" th:text="${page -1}" >1</a></li>
                <li class="active"><a href="#" th:text="${page}" >1</a></li>
                <li th:if="${page+ 1 <=dataGranules.getTotalPages()}" ><a th:href="@{'/data/getAll?page=' + ${page + 1}}" th:text="${page +1}" >1</a></li>
                <li th:if="${page+ 2 <=dataGranules.getTotalPages()}" ><a th:href="@{'/data/getAll?page=' + ${page + 2}}" th:text="${page +2}" >1</a></li>

                <th:block th:switch="${dataGranules.hasNext()}">
                    <li th:case="true">
                        <a   th:href= "@{'/data/getAll?page='+${page + 1}}" >
                            <i class="fa fa-angle-right"></i>&nbsp;下一页
                        </a>
                    </li>
                    <li th:case="false" class="disabled">
                        <a   th:href= "@{'/data/getAll?page='+${page + 1}}" >
                            <i class="fa fa-angle-right"></i>&nbsp;下一页
                        </a>
                    </li>
                </th:block>

                <li>
                    <a th:href="@{'/data/getAll?page='+${dataGranules.getTotalPages()}}">尾页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../static/js/javascript.js" th:src ="@{/js/javascript.js}"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</body>
</html>

