<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="col-md-9 column">
    <!--订单列表-->
    <table class="table">
        <thead>
        <tr>
            <th>dataGranuleId</th>
            <th>sensorCode</th>
            <th>productCode</th>
            <th>tileCode</th>
            <th>sceneDate</th>
            <th>formatCode</th>
            <th>dataSource</th>
            <th colspan="2">options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dataGranule : ${dataGranules}">
            <td th:text="${{dataGranule.getDataGranuleId()}}">PENDING</td>
            <td th:text="${{dataGranule.getSensorCode()}}">PENDING</td>
            <td th:text="${{dataGranule.getProductCode()}}">PENDING</td>
            <td th:text="${{dataGranule.tileCode}}">PENDING</td>
            <td th:text="${{dataGranule.getSceneDate()}}">PENDING</td>
            <td th:text="${{dataGranule.getFormatCode()}}">PENDING</td>
            <td th:text="${{dataGranule.getDataSource()}}">PENDING</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button></td>
            <td><a th:href="@{/data/getAll/(page=${dataGranules.getTotalPages()})}">Order</a></td>
        </tr>
        </tbody>
    </table>

    <!--分页-->
    <nav aria-label="Page navigation example">
        <ul id="page" class="pagination pull-right">
            <div class = "aad"> 当前第<span th:text="${dataGranules.pageable.pageNumber + 1} "></span>页.每页条数：<span th:text="${dataGranules.getSize()}"></span>
                一共 <span th:text="${dataGranules.getTotalElements()}"></span> 条记录</div>
            <li >
                <a th:href="@{'/data/getAll?page=' + ${1}}" >首页</a>
            </li>
            <!--上一页-->

            <th:block th:switch="${dataGranules.hasPrevious()}">
                <li class="page-item" th:case="true">
                    <a   th:href= "@{'/data/getAll?page='+${page - 1}}" >
                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                    </a>
                </li>
                <li class="page-item disabled" th:case="false">
                    <a>
                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                    </a>
                </li>
            </th:block>

            <!--&lt;!&ndash;循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接&ndash;&gt;-->
            <!--<th:block th:each="nav : ${pageNumbers}" >-->
            <!--<li  th:class="${nav==dataGranules.getPageable().pageNumber}?'active':''" >-->
            <!--<a th:href="@{'/data/getAll?page='+${nav}}"-->
            <!--th:text="${nav}"></a></li>-->
            <!--</th:block>-->

            <!--一共显示五个分页
            如果page在第三页以内，
            -->
            <li class="page-item" th:if="${page - 2 >=1}" ><a th:href="@{'/data/getAll?page=' + ${page - 2}}" th:text="${page -2}" ></a></li>
            <li class="page-item" th:if="${page - 1 >=1}" ><a th:href="@{'/data/getAll?page=' + ${page - 1}}" th:text="${page -1}" ></a></li>
            <li class="page-item active"><a href="#" th:text="${page}" ></a></li>
            <li class="page-item" th:if="${page+ 1 <=dataGranules.getTotalPages()}" ><a th:href="@{'/data/getAll?page=' + ${page + 1}}" th:text="${page +1}" ></a></li>
            <li class="page-item" th:if="${page+ 2 <=dataGranules.getTotalPages()}" ><a th:href="@{'/data/getAll?page=' + ${page + 2}}" th:text="${page +2}" ></a></li>

            <th:block th:switch="${dataGranules.hasNext()}">
                <li class="page-item" th:case="true">
                    <a th:href= "@{'/data/getAll?page='+${page + 1}}" >
                        <i class="fa fa-angle-right"></i>&nbsp;下一页
                    </a>
                </li>
                <li class="page-item disabled"  th:case="false" >
                    <a>
                        <i class="fa fa-angle-right"></i>&nbsp;下一页
                    </a>
                </li>
            </th:block>

            <li>
                <a th:href="@{'/data/getAll?page='+${dataGranules.getTotalPages()}}">尾页</a>
            </li>
        </ul>
    </nav>
</div>

    <!--订单详情-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../static/js/pop.js" th:src="@{/js/pop.js}"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

</html>