<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="col-md-9 column">
    <!--订单列表-->
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>orderId</th>
            <th>dataSensorName</th>
            <th>dataProductName</th>
            <th>startPath</th>
            <th>endPath</th>
            <th>startRow</th>
            <th>endRow</th>
            <th>dataStartDate</th>
            <th>dataEndDate</th>
            <th>orderSubmittedTime</th>
            <th>orderCompletedTime</th>
            <th>status</th>
            <th colspan="3">options</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td id="td-order-id" th:text="${orderOutputDTO.getOrderId()}">padding</td>
                <td th:text="${orderOutputDTO.getDataSensorName()}">2</td>
                <td style="" th:text="${orderOutputDTO.getDataProductName()}">3</td>
                <td th:text="${orderOutputDTO.getStartPath()}">4</td>
                <td th:text="${orderOutputDTO.getEndPath()}">5</td>
                <td th:text="${orderOutputDTO.getStartRow()}">6</td>
                <td th:text="${orderOutputDTO.getEndRow()}">7</td>
                <td th:text="${orderOutputDTO.getDataStartDate()}">8</td>
                <td th:text="${orderOutputDTO.getDataEndDate()}">9</td>
                <td th:text="${#dates.format(orderOutputDTO.getOrderSubmittedTime(), 'yyyy-MM-dd HH:mm:ss')}">10</td>
                <td id="td-complete-time" th:text="${orderOutputDTO.getOrderCompletedTime()}==null ? '订单未完成':${#dates.format(orderOutputDTO.getOrderCompletedTime(), 'yyyy-MM-dd HH:mm:ss')}">11</td>
                <th id="th-order-status">未开始</th>
                <td>
                    <button href="#myModal" id="openBtn" data-toggle="modal"
                            class="btn btn-outline-primary">
                        订单数据详情
                    </button>
                </td>
                <td>
                    <button  id="excuteBtn" class="btn btn-default">
                        开始订单
                    </button>
                </td>
                <td>
                    <button href="#" id="deleteBtn" class="btn btn-outline-danger">
                        取消订单
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

<!--订单详情-->
    <div class="modal fade" id="myModal" th:fragment="modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">订单详情</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">数据集详情</h5>
                    <div style="width:100%; height:500px; overflow:auto;">
                        <table class="table table-striped" id="tblGrid">
                            <thead id="tblHead">
                            <tr>
                                <th>dataSensorName</th>
                                <th>dataProductName</th>
                                <th>identifier</th>
                                <th>tileCode</th>
                                <th>sceneDate</th>
                                <th>formatCode</th>
                                <th>dataSource</th>
                                <th>dataGranuleUri</th>
                                <th colspan="2">options</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="dataGranuleOutputDTO : ${dataGranuleOutputDTOs}">
                                    <td th:text="${dataGranuleOutputDTO.getDataSensorName()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getDataProductName()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getIdentifier()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getTileCode()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getSceneDate()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getFormatCode()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getDataSource()}">PENDING</td>
                                    <td th:text="${dataGranuleOutputDTO.getDataGranuleUri()}==null ? '正在处理': ${dataGranuleOutputDTO.getDataGranuleUri()}">PENDING</td>
                                    <td><button type="button" class="btn btn-primary">download</button></td>
                                    <td><button type="button" class="btn btn-primary">cancel</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--分页-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

</body>
<script src="../static/js/pop.js" th:src="@{/js/pop.js}"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

</html>